<section id="about">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">{{page.title}}</h2>
            <p class="text-center wow fadeInDown">{{page.subtitle}}</p>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
              <img class="img-responsive" src="/theme/images/about.png" alt="about page">
            </div>
            <br>
            <div class="col-sm-6 wow fadeInRight">
                <h3 class="column-title">{{page.columntitle}}</h3>
                {{page.content}}
                <a class="btn btn-primary" href="#">Learn More</a>
            </div>
        </div>
    </div>
  </section>