<div class="row">
    <div class="col-md-4">
        <div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
            <div class="row">
                <div class="col-xs-12">
                    <blockquote>{{page.content}}</blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <img src="{{page.image}}" alt="client">
                </div>
                <div class="col-xs-9 half-gutter">
                    <h5>{{page.name}}</h5>
                    <h6>{{page.company}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>